* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
main{
  margin:50px auto;
  width:960px;
}
.item1,.item2,.item3{
  border:1px solid  #CCCCCC;
  width:300px;
  height:375px;
  float:left;
  position:relative;
}
.item1,.item2{
  margin-right:30px;
}
.step{
  position:absolute;
  color:white;
  background-color:orange;
  width:45px;
  z-index:10;
}
.content{
  position:absolute;
  top:10px;
  left:10px;
}
img{
  width:280px;
  z-index:5;
}
h4{
  color:black;
  padding:5px 0px;
}
p{
  width:280px;
}
@media screen and (max-width:768px) {
  .item1,.item2,.item3{
    float:none;
    margin:auto;
  }
  .item1{
    margin-top:50px;
    margin-bottom:20px;
  }
  .item2{
    margin-top:0px;
    margin-bottom:0px;
  }
  .item3{
    margin-top:20px;
    margin-bottom:50px;
  }
}